@import "tailwindcss";
@import "./tailwind-config.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
  }
  #root {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }
}
